{% extends '@Acteur/public/Template/Materialize/layout.html.twig' %}
{% block stylesheet %}

{% endblock %}
    {% block menu %}
        {% include'@Acteur/Donateurs/Partials/_nemu.html.twig' %}
    {% endblock %}
{% block contenuprincipal %}
    <div class="row" style="margin-top: 42px">

            <div class="col s8 m8 l8 offset-s2 offset-l2 offset-m2">
                <div class="card-panel">
                <div class="row">
                    <div class="col s12 m6 l8 ">
                        <p> Vous venez d'investir {{ Montant }} FCA sur le projet {{ projet }}
                        </p>
                        <p> Soutenir un projet et le promoteur du projet vous remercient infinement.
                        </p>
                        <p> Restez à l'ecoute pour suivre la realisation et l'evolution du projet.
                        </p>
                        <p> Une fois encore merci merci pour votre soutien.
                        </p>
                    </div>
                    <div class="col s12 m8 l4">
                        <table class="table-responsive">
                            <tr>
                                <td> DATE/HEURE:</td>
                                <td>{{ DateD | date('D-m-Y') }}</td>
                            </tr>
                            <tr>
                                <td> MOYEN DE PAIEMENT:</td>
                                <td>CARTE BANCAIRE</td>
                            </tr>
                            <tr>
                                <td>NUMERO DE LA CARTE:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>N° TRANSACTION CB</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>MONTANT</td>
                                <td> {{ Montant }} FCA </td>
                            </tr>
                            <tr>
                                <td>TYPE:</td>
                                <td>DEBIT </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
