<nav role="navigation" class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            .....
        </div>
        <div class="navbar-container content container-fluid">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                .....
            </div>
        </div>
    </div>
</nav>
<div id="fullscreen-search" class="fullscreen-search">
    .....
</div>
<div class="fullscreen-search-overlay"></div>