{% extends ":accueil:index.html.twig" %}
    {% block contenu %}
        <div class="row-container container-bg-photo" style="background-image: url('{{ asset('bundles/frontend/img/about_us.jpg') }}'); background-position: center center">
            <div class="container"> <br> <br> <br> <br> <br> <div class="row"> </div> <br> <br> <br> <br> <br> </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 class="text-bold text-center" style="margin:40px 0; font-size:110px; color:#eee">Qui sommes-nous?</h2>
                <div class="col-sm-12 col-md-12" style="border-left: 1px solid #ccc;">
                    <h2 style="text-align: justify"> <strong>Soutenir projet</strong> des jeunes est une initiative du <b>Projet pour l’Autonomisation des femmes et l’entrepreneuriat des Jeunes  (Projet FAEJ)</b>
                        de l’ONG AJDIB dont l’objectif est de promouvoir l’entrepreneuriat et le leadership des jeunes promoteurs de projets innovateur dans le secteur agricole.
                    </h2>
                    <h2 style="text-align: justify">
                        <strong> <a href=www.ajdib.org> AJDIB </a></strong>  est une association reconnu par l’état crée
                        depuis 2010 ou se trouve son  siège elle exerce dans le domaine de l’entrepreneuriat, l’autonomisation des femmes l’éducation des enfants la culture
                        le tourisme ces actions s’étend sur le plan national à travers les partenaires en Italie en Belgique
                        en France et en Espagne. <br/>
                        Pour plus de visibilité vous pouvez voir les projets réalisés sur <a href="../../www.ajdib.org/">www.ajdib.org</a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">

            </div>
            <div class="col-sm-6 col-md-6">

            </div>

        </div>
        <br/>
        <br/>
        <br/>
{% endblock %}