{% extends ":accueil:index.html.twig" %}
    {% block contenu %}
        <div class="row-container container-bg-photo" style="background-image: url('{{ asset('bundles/frontend/img/about_us.jpg') }}'); background-position: center center">
            <div class="container"> <br> <br> <br> <br> <br> <div class="row">

                </div> <br> <br> <br> <br> <br>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <h2 class="text-bold text-center" style="margin:40px 0; font-size:110px; color:#eee">Comment ça marche?</h2>
            <div class="col-sm-12 col-md-12">
               <p style="text-align: justify">
                   La finance participative permet le développement de projets de tous types en s’appuyant sur les
                   contributions financières du grand public, en dehors des circuits de financements de l’ONG.
               </p>
                <p style="text-align: justify">
                    Ce mode de financement est de plus en plus populaire sur internet. Il permet aux particuliers de
                    soutenir le projet de son choix, selon ses critères (région, activité, impact…). A l’origine le
                    financement participatif a permis de financer des projets agricoles artisanal et touristique.
                    En pleine évolution la finance participative s’adresse aujourd’hui également aux entreprises en
                    création ou menant des projets d’innovation.
                </p>
                <p style="text-align: justify">
                    Ces différents projets peuvent être portés par des particuliers, des entreprises ou des associations
                    de part le monde.
                </p>
                <p style="text-align: justify">
                    Les contributions financières sont collectées via les plateformes internet spécialisées par mode de
                    financement :
                </p>
                <ul>
                    <li>
                        <b>le don, avec ou sans contrepartie</b>
                    </li>
                    <li>
                        <b>le prêt, avec intérêt ou sans intérêt,</b>
                    </li>
                    <li>
                        <b>l’investissement, soit en obligation soit en action</b>
                    </li>
                </ul>
                <h2>Comment ça marche ?</h2>
                <p>
                    Quel que soit le type de plateforme de financement participatif, les principes de fonctionnement sont les mêmes :
                </p>
                <p>
                    <b>Le porteur de </b> adresse son projet à un opérateur de financement participatif et explique son projet et son besoin de financement.
                </p>
                <ul style="text-align: justify">
                    <li>
                        L’opérateur sélectionne les projets sur la base de différents critères : la qualité du
                        projet et de son porteur, la nature du projet (impact Environnemental, Social et Solidaire,
                        Culturel, Technologique…), le porteur du projet (Particulier, Association, Entreprise…),
                        la localisation…
                    </li>
                    <li>
                        Les projets sont ensuite mis en avant sur la plateforme avec le maximum de transparence en
                        précisant un montant global recherché et une date de fin de collecte.
                    </li>
                    <li>
                        <b>L’internaute contributeur</b> sélectionne librement le projet qu’il souhaite financer.
                        Il définit ensuite le montant qu’il souhaite affecter au projet sélectionné, de quelques
                        dizaines à quelques centaines ou milliers d’euros. Un ticket minimum est demandé dans certains cas.
                    </li>
                    <li>
                        La collecte des fonds est réalisée par l'opérateur ou selon son statut, par
                        la banque partenaire ou un tiers financier agréé.
                    </li>
                    <li>
                        Le financement du projet est collectif. En effet, c’est le regroupement de plusieurs
                        contributeurs pour un même projet qui permet à ce dernier d’être financé.
                    </li>
                    <li>
                        La clôture de la collecte a lieu soit lorsque le montant minimum de financement recherché est
                        atteint, soit quand la date de fin de collecte est atteinte
                    </li>
                    <li>
                   Le porteur de projet reçoit le montant collecté quand la somme recherchée est atteinte, <b> diminuée
                            d'un taux de commission compris entre 1 et 10%.</b>

                    </li>
                    <li>
                        En général, quand le montant global recherché n'est pas atteint, le projet n'est pas financé et
                        les contributeurs récupèrent leur mise.
                    </li>
                </ul>
                <h2>
                    Une réelle alternative à la finance traditionnelle ?
                </h2>
                <p style="text-align: justify">
                    Ce financement représente une réelle alternative au financement traditionnel
                    (banque, investisseurs privés…). Désormais l’investisseur à la main sur son investissement,
                    il peut choisir le projet et le porteur de projet qu’il souhaite soutenir.
                </p>
                <p style="text-align: justify">
                    Encore marginal en comparaison des financements bancaires (qui s’élèvent à plusieurs centaines de milliards d’euros),
                    le financement participatif connaît une forte croissance depuis ses débuts (en 2007).
                    Les montants collectés doublent chaque année. En 2013, plus de 80 millions d’euros de financement
                    sont attendus, via les plateformes.
                </p>
                <p style="text-align: justify">
                    Une réelle opportunité pour le développement de l’Economie Sociale en Afrique.
                </p>
                <p style="text-align: justify">
                    De ce fait, le développement de la finance participative est une véritable opportunité de développement.
                </p>
                <h2> FONCTIONNEMENT </h2>
                <p style="text-align: justify">
                    AJDIB permet à chaque particulier de prêter aux TPE/PME en toute simplicité et offre aux
                    porteurs de projets les moyens de leurs ambitions en accédant rapidement et simplement à une
                    nouvelle source de financement.
                </p>
                <p style="text-align: justify">
                    En tant que particulier, vous prêtez en seulement quelques clics. Vous recevez alors chaque mois
                    une mensualité, composée d'une partie de votre capital investi et des intérêts, directement sur
                    votre compte aux banques de votre choix et réinvestissez à votre rythme.
                </p>
                <p style="text-align: justify">
                    En tant qu’emprunteur, vous proposez votre projet à la plateforme. Après validation, il est mis en
                    ligne pour rencontrer notre communauté de prêteurs. Dès que votre besoin de financement atteint
                    son objectif, vous recevez les fonds. Vous remboursez tous les mois à taux et mensualités
                    (porteur du projet) fixes. Concentrez-vous sur vos projets, AJDIB fait le reste.
                </p>

            </div>

        </div>
        </div>

{% endblock %}